# Test Results

## Summary
- *Test Results:* [{'test_loss': 0.06106763705611229, 'test_SDR': 12.858853340148926, 'test_STOI': 0.9157713055610657}]
- *PESQ Information:* 1.963561985641718
- *Enhanced Audio File:* clean_audio_long.wav
